<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="icons/Arch_AWS-HealthOmics_64.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="icons/Arch_AWS-HealthOmics_48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/Arch_AWS-HealthOmics_32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/Arch_AWS-HealthOmics_16.png"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
  <!-- Amplify workaround for build -->
  <script>
    // Amplify need this to work. See https://github.com/aws/aws-sdk-js/issues/3673
    const isBrowser = () => typeof window !== 'undefined';
    const isGlobal = () => typeof global !== 'undefined';
    if (!isGlobal() && isBrowser()) {
      var global = window;
    }
  </script>
</html>
